<!DOCTYPE html>
<html lang="en">
<head th:include="common/head :: #head"></head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
		<!-- main -->
		<div class="main">
			<!-- page -->
			<div class="page">
				<!-- page main -->
				<div class="pageMain">
					<!-- position -->
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>机器人配置</span>
					</div>
					<!-- /position -->
					<!-- page body -->
					<div class="pageB">
						<!-- 机器人配置开始 -->
						<div class="modal-content sysconfig">
							<div class="modal-body">
							<form data-content="#content"
							data-template="#temp" data-pagination="#pagination"
							data-action="findRobotConfig" data-form="search" class="form"
							novalidate="novalidate">
							<button type="submit" class="btn" style="display:none">查询</button>
							</form>
							  <div class="table">
							<table>
								<thead>
									<tr>
										<th>配置id</th>
										<th>类型</th>
										<th>大类英文名</th>
										<th>小类英文名(唯一)</th>
										<th>中文名</th>
										<th>默认属性值</th>
										<th>自定义属性值</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
							<script type="text/template" id="temp">
              					{{each this val}}
              					<tr>
                                    <td>{{val.configId||''}}</td>
                                    <td>{{val.typeName||""}}</td>
									<td>{{val.patentEname||''}}</td>
									<td>{{val.childEname||''}}</td>
									<td>{{val.cname||''}}</td>
                                    <td>{{val.defaultVal||''}}</td>
									<td>
										<input id="val_{{val.childEname}}" type="text" data-val="{{val.val}}" data-childEname="{{val.childEname}}" class="input input_num" value="{{val.val||''}}"{{if 'ROBOT_THREAD_POOL_MAX_SIZE' === val.childEname}}readonly="readonly"{{/if}}/>
									</td>
                                    <td>{{val.remark||''}}</td>
                                    <td>
										{{if val.childEname !== 'ROBOT_THREAD_POOL_MAX_SIZE'}}
											<button data-id="{{val.configId}}" data-val="{{val.val}}" data-childEname="{{val.childEname}}" type="button" class="btn btn-primary btn-sm J_editBtn">修改</button>
										{{/if}}
									</td>
              					</tr>
              					{{/each}}
              					{{if this.length === 0}}
              					<tr><td colspan="9">没有数据...</td></tr>
              					{{/if}}
							</script>
						</div>
							</div>
						</div>
						<!-- 机器人配置结束 -->
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
	<!-- /wrapper -->

</body>
</html>
<script data-main="js/robotConfig" src="js/base/require.min.js"></script>