<!DOCTYPE html>
<html lang="en">
  <head th:include="common/head :: #head"></head>
<body>

<!-- wrapper -->
<div class="wrapper">
   
	<!-- main -->
	<div class="main">
	     
		<!-- page -->
		<div class="page">

			<!-- page main -->
			<div class="pageMain">
			
				<div class="position">
					<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>App内容配置</span>
				</div>
				
				<!-- page body -->
				<div class="pageB">

					<!-- 竞猜分类标题 -->
					<div class="guess_title">App直播间</div>
					
					<div class="app_set">
						
						<div class="appset_list">
							
							<p class="appset_name">App直播间分享描述：</p>
							
							<div class="appset_con">
								<p></p>
								<p class="appset_btn">修改</p>
							</div>
							
							<div class="appset_input">
								<input type="text" class="input appset_share" value="就这样发按实际大数据打死打死队内赛到那时的那丝蒂娜十多年萨达纳送到哪送到哪四季度那是的纳斯的那丝" 
									onfocus="window.activeobj=this;this.clock=setInterval(function(){activeobj.style.width=activeobj.scrollWidth+'px';},100);" 
									onblur="clearInterval(this.clock);" maxlength="50" placeholder="请输入描述" />
								<button class="btn sure_share">确认</button>
								<button class="btn cancel_share">取消</button>
							</div>
							
							
						</div>
						
						
						
					</div>
					

          			
				</div>
				<!-- /page body -->

			</div>
			<!-- /page main -->

		</div>
		<!-- /page -->

	</div>
	<!-- /main -->

</div>
<!-- /wrapper -->
</body>
</html>

<script data-main="js/appSet" src="js/base/require.min.js"></script>