<!DOCTYPE html>
<html lang="en">

  <head th:include="common/head :: #head"></head>
  
<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
	   
			<!-- page -->
			<div class="page">
				<!-- page main -->
				<div class="pageMain">
				
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>Android版本</span>
					</div>
					
					<!-- page body -->
					<div class="pageB">
						<form data-param="versionVO" data-content="#content"
							data-template="#temp" data-pagination="#pagination"
							data-action="findVersion" data-form="search" class="form"
							novalidate="novalidate">
							<input name="chlId" type="text" placeholder="渠道ID"
								data-chinese="渠道ID" pattern="[1-9][0-9]+" class="inputsearch"
								onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" /> 
								
							<input name="code" type="text" placeholder="CODE" maxlength="11"
								data-chinese="CODE" pattern="[1-9][0-9]+" class="inputsearch"
								onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" />
							<button type="submit" class="btn">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
							<button type="button" class="btn btn-success J_AddBtn">新增</button>
						</form>
						<div class="table">
							<table>
								<thead>
									<tr>
										<th>渠道ID</th>
										<th>CODE</th>
										<th>版本</th>
										<th>是否更新</th>
										<th>下载地址</th>
										<th>更新说明</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
			<script type="text/template" id="temp">
              {{each this val}}
              <tr>
                <td>{{val.chlId||''}}</td>
				<td>{{val.code||''}}</td>
				<td>{{val.ver||''}}</td>
				<td>{{if '1' === val.isUpdate}}强制更新{{else if '2' === val.isUpdate}}非强制{{else}}{{/if}}</td>
				<td>{{val.downUrl||''}}</td>
				<td>
				 <textarea style="resize:vertical;" class="input">{{val.verExplain||'0'}}</textarea>
				</td>
				<td>{{val.remark||'保密'}}</td>
                <td>
				 <button data-id="{{val.chlId}}" type="button" class="btn btn-info btn-sm J_AndroidLogBtn">查看</button>
                </td>
              </tr>
              {{/each}}
              {{if this.length === 0}}
              <tr><td colspan="8">没有数据...</td></tr>
              {{/if}}
			</script>
							
						</div>
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
						<!-- 新增Android版本 开始 -->
						<div class="modal fade " id="J_showAndroid">
							<div class="modal-backdrop"></div>
							<div class="modal-content">
							<form id="J_AddAndroid" data-param="versionVO" data-action="addAndroid" data-form="submit" novalidate="novalidate">
								<div class="modal-header text-center" style="font-size:16px;font-weight:bold;">新增Android版本</div>
								<div class="modal-body">
									<div class="table-form table-center">
										<table>
											<tbody>
												<tr>
													<th>渠道ID：</th>
													<td><input name="chlId" type="text" placeholder="渠道ID"
								data-chinese="渠道ID" class="input" /></td>
												</tr>
												<tr>
													<th>CODE：</th>
													<td><input name="code" type="text" placeholder="CODE"
								data-chinese="CODE" class="input" /></td>
												</tr>
												<tr>
													<th>版本：</th>
													<td><input name="ver" type="text" placeholder="版本"
								data-chinese="版本" class="input" /></td>
												</tr>
												<tr>
													<th>是否更新：</th>
													<td><input name="isUpdate" type="text" placeholder="是否更新"
								data-chinese="是否更新" class="input" /></td>
												</tr>
												<tr>
													<th>下载地址：</th>
													<td><input name="downUrl" required="required" type="text" placeholder="下载地址"
								data-chinese="下载地址" class="input" /></td>
												</tr>
												<tr>
													<th>更新说明：</th>
													<td>
													<textarea name="verExplain" style="resize:vertical;" placeholder="更新说明"
								data-chinese="更新说明" class="input" ></textarea>
													</td>
												</tr>
												<tr>
													<th>备注：</th>
													<td><input name="remark" type="text" placeholder="备注"
								data-chinese="备注" class="input" /></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="modal-footer text-center">
									<button type="submit" class="btn" style="margin-right:30px">新增</button>
									<button data-target="#J_AddAndroid" data-event="Storm.modal.hide" class="btn btn-warning" type="button">取消</button>
								</div>
								</form>
							</div>
						</div>
						<!-- 新增Android版本 结束 -->
						<!-- Android版本详情 开始 -->
						<div class="modal fade " id="J_detail">
							<div class="modal-backdrop"></div>
							<div class="modal-content">
							<form id="J_EditAndroid" data-param="versionVO" data-action="editAndroid" data-form="submit" novalidate="novalidate">
								<div class="modal-header text-center" style="font-size:16px;font-weight:bold;">修改Android版本</div>
								<div class="modal-body">
									<div class="table-form table-center">
										<table>
											<tbody>
												<tr>
													<th>渠道ID：</th>
													<td><input name="chlId" type="text" placeholder="渠道ID"
								data-chinese="渠道ID" class="input" data-insert="chlId" readonly="readonly" /></td>
												</tr>
												<tr>
													<th>CODE：</th>
													<td><input name="code" type="text" placeholder="CODE"
								data-chinese="CODE" class="input" data-insert="code" /></td>
												</tr>
												<tr>
													<th>版本：</th>
													<td><input name="ver" type="text" placeholder="版本"
								data-chinese="版本" class="input" data-insert="ver" /></td>
												</tr>
												<tr>
													<th>是否更新：</th>
													<td><input name="isUpdate" type="text" placeholder="是否更新"
								data-chinese="是否更新" class="input" data-insert="isUpdate" /></td>
												</tr>
												<tr>
													<th>下载地址：</th>
													<td><input name="downUrl" required="required" type="text" placeholder="下载地址"
								data-chinese="下载地址" class="input" data-insert="downUrl" /></td>
												</tr>
												<tr>
													<th>更新说明：</th>
													<td>
													<textarea name="verExplain" style="resize:vertical;" placeholder="更新说明"
								data-chinese="更新说明" class="input" id="verExplain" ></textarea>
													</td>
												</tr>
												<tr>
													<th>备注：</th>
													<td><input name="remark" type="text" placeholder="备注"
								data-chinese="备注" class="input" data-insert="remark" /></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="modal-footer text-center">
									<button type="submit" class="btn" style="margin-right:30px">修改</button>
									<button data-target="#J_detail" data-event="Storm.modal.hide" class="btn btn-warning" type="button">取消</button>
								</div>
								</form>
							</div>
						</div>
						<!-- Android版本详情 结束 -->
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
<!-- 	/wrapper -->
	
	</body>
	<script data-main="js/android" src="js/base/require.min.js"></script>
</html>