<!DOCTYPE html>
<html lang="en">

  <head th:include="common/head :: #head"></head>
  
<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
	   
			<!-- page -->
			<div class="page">
				<!-- page main -->
				<div class="pageMain">
				
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>直播列表</span>
					</div>
					
					<!-- page body -->
					<div class="pageB">
						<form data-param="anchorVO" data-content="#content" data-template="#temp" data-pagination="#pagination" data-action="findSortTheConfigurationPage" data-form="search" class="form" novalidate="novalidate">
							  
							<input name="userId" type="text" placeholder="用户ID" data-chinese="用户ID" pattern="[1-9][0-9]+" class="inputsearch" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" /> 
								
							<button type="submit" class="btn">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
						</form>
						<div class="table">
							<table>
								<thead>
									<tr>
										<th rowspan="2">热门排序</th>
										<th rowspan="2">直播封面</th>
										<th rowspan="2">主播昵称</th>
										<th rowspan="2">主播ID</th>
										<th colspan="4">
											人数<br />
											展示人数 = 真实人数 + 机器人数
										</th>
										<th colspan="4">
											排序值<br />
											排序值 = 底数+（真实人数+前10分钟内获得的贡献值）*倍数
										</th>
										<th rowspan="2">操作</th>
									</tr>
									<tr>
										<th>真实人数</th>
										<th>机器人数</th>
										<th>展示人数</th>
										<th>操作</th>
										<th>底数</th>
										<th>倍数</th>
										<th>排序值</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
							
							<script type="text/template" id="temp">
             					{{each this val}}
              						<tr style="background: #{{val.hotType==1?'FFFFFF':'F0E68C'}}">
                						<td>{{val.sort}}</td>
										<td><img class="uesr_img" src="{{val.liveCover==''?'http://opq77mx3q.bkt.clouddn.com/20170830-logo_totoro.png':val.liveCover}}" /></td>
										<td>{{val.nickName}}</td>
										<td>{{val.userId}}</td>

										<td>{{val.viewerCount}}</td>
										<td>
											<span>{{val.robot}}</span>
											<input type="text" class="input input_num width110 hide" value="{{val.robot}}" />
										</td>
										<td>{{val.showNumber}}</td>
										<td>
											<button type="button" class="btn btn-sm wp_number_modify">编辑</button>
											<button type="button" class="btn btn-sm wp_number_cancle hide">取消</button>
											<button type="button" data-user-id="{{val.userId}}" class="btn btn-sm wp_number_save hide">保存</button>
										</td>
										<td>
											<span>{{val.base}}</span>
											<input type="text" class="input input_num width110 hide" value="{{val.base}}" />
										</td>
										<td>
											<span>{{val.multiple}}</span>
											<input type="text" class="input input_num width110 hide" value="{{val.multiple}}" />
										</td>
										<td>{{val.roomTag}}</td>
										<td>
											<button type="button" class="btn btn-sm wp_sort_modify">编辑</button>
											<button type="button" class="btn btn-sm wp_sort_cancle hide">取消</button>
											<button type="button" data-user-id="{{val.userId}}" class="btn btn-sm wp_sort_save hide">保存</button>
										</td>
										<td>
				 							<button data-id="{{val.userId}}" type="button" class="btn btn-info btn-sm wp_removelist">移除列表</button>
											{{if val.hotType == 2}}
												<button data-id="{{val.userId}}" type="button" class="btn btn-info btn-sm wp_cancle_top">取消置顶</button>
											{{else}}
												<button data-id="{{val.userId}}" type="button" class="btn btn-info btn-sm wp_sure_top">置顶</button>
											{{/if}}
                						</td>
              						</tr>
              					{{/each}}
              					{{if this.length === 0}}
              						<tr><td colspan="13">没有数据...</td></tr>
             					{{/if}}
							</script>
							
						</div>
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
						
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
<!-- 	/wrapper -->
	
	</body>
	<script data-main="js/livelist" src="js/base/require.min.js"></script>
</html>