<!DOCTYPE html>
<html lang="en">

  <head th:include="common/head :: #head"></head>
  
<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
	   
			<!-- page -->
			<div class="page">
				<!-- page main -->
				<div class="pageMain">
				
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>直播数据</span>
					</div>
					
					<!-- page body -->
					<div class="pageB">
					
						<form data-param="anchorVO" data-content="#content" data-template="#temp" data-pagination="#pagination" data-action="getAnchorLivingMessage" data-form="search" class="form" novalidate="novalidate">
						
							<input name="startTime" id="startDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})" placeholder="竞猜开始时间" type="text" class="inputsearch" /> 
							<span class="middle_to">至</span>
							<input name="finishTime" id="endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'startDate\')}', maxDate:'%y-%M-%d'})" placeholder="竞猜结束时间" type="text" class="inputsearch" />
							
							<select name="anchorType" class="inputsearch" title="主播类型">
	                        	<option selected="selected" disabled="disabled">主播类型</option>
	                            <option value="0">全职主播</option>
	                            <option value="1">兼职主播</option>
	                        </select>
	                        
<!-- 	                        <select name="" class="inputsearch" title="所属公会"> -->
<!-- 	                        	<option selected="selected" disabled="disabled">所属公会</option> -->
<!-- 	                            <option value="0">正序</option> -->
<!-- 	                            <option value="1">倒序</option> -->
<!-- 	                        </select> -->
	                        
	                        <input name="query" type="text" placeholder="龙猫ID/昵称/手机号" data-chinese="龙猫ID/昵称/手机号" class="inputsearch" />
	                        
							<button type="submit" class="btn search_livedata">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
<!-- 							<button type="button" class="btn exportBtn">导出</button> -->
						</form>
						
						<!-- 竞猜总数据 -->
						<div class="guess_all">
							
							<div class="guessall_list">
								<p>总卡路里（卡）</p>
								<p class="calorie_total"></p>
							</div>
							
							<div class="guessall_list">
								<p>可提卡路里（卡）</p>
								<p class="calorie_canuse"></p>
							</div>
							
						</div>
						
						<div class="table">
							<table>
								<thead>
									<tr>
										<th>主播ID</th>
										<th>昵称</th>
										<th>主播类型</th>
										<th>所属公会</th>
										<th>直播天数（天）</th>
										<th>累计直播时长（时）</th>
										<th>累计卡路里（卡）</th>
										<th>可提卡路里（卡）</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
							
							<script type="text/template" id="temp">
             					{{each this val}}
              						<tr>
                						<td>{{val.userId}}</td>
										<td>{{val.nickName}}</td>
										<td>{{val.strAnchorType}}</td>
										<td>{{val.confraternityName}}</td>
										<td>{{val.days}}</td>
										<td>{{val.hours||'0'}}</td>
										<td>{{val.calories||''}}</td>
										<td>{{val.calorie||'0'}}</td>
										<td>
											<button data-user-id="{{val.userId}}" type="button" class="btn btn-primary btn-sm see_detail">查看详情</button>
										</td>
              						</tr>
              					{{/each}}
              					{{if this.length === 0}}
              						<tr><td colspan="9">没有数据...</td></tr>
             					{{/if}}
							</script>
							
						</div>
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
						
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
<!-- 	/wrapper -->
	
	</body>
	<script data-main="js/liveData" src="js/base/require.min.js"></script>
</html>