<!DOCTYPE html>
<html lang="en">
  <head th:include="common/head :: #head"></head>
<body>

<!-- wrapper -->
<div class="wrapper">
   
	<!-- main -->
	<div class="main">
	     
		<!-- page -->
		<div class="page">

			<!-- page main -->
			<div class="pageMain">
			
				<div class="position">
					<a href="/index" target="_parent" title="首页">首页</a> &gt; 
					<a href="/livedata" title="首页">上一页</a> &gt;
					<span id="title_name"></span>
				</div>
				
				<!-- page body -->
				<div class="pageB">
					
					<form data-param="anchorVO" data-content="#content" data-template="#temp" data-pagination="#pagination" data-action="getOneAnchorMessage" data-form="search" class="form" novalidate="novalidate">
						
						<input name="startTime" id="startDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})" placeholder="竞猜开始时间" type="text" class="inputsearch" /> 
						<span class="middle_to">至</span>
						<input name="finishTime" id="endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'startDate\')}', maxDate:'%y-%M-%d'})" placeholder="竞猜结束时间" type="text" class="inputsearch" />
						
						<input name="userId" type="hidden"/>
						
						<button type="submit" class="btn search_list">查询</button>
						<button type="reset" class="btn btn-info">重置</button>
<!-- 							<button type="button" class="btn exportBtn">导出</button> -->
					</form>
					
					
					<!-- 竞猜总数据 -->
					<div class="guess_all">
						
						<div class="guessall_list">
							<p>累计直播天数（天）</p>
							<p class="total_day"></p>
						</div>
						
						<div class="guessall_list">
							<p>累计时长</p>
							<p class="total_hour"></p>
						</div>
						
						<div class="guessall_list">
							<p>累计贡献值（点）</p>
							<p class="total_spot"></p>
						</div>
						
						<div class="guessall_list">
							<p>累计卡路里（卡）</p>
							<p class="total_calorie"></p>
						</div>
						
					</div>
					
						<div class="table">
							<table>
								<thead>
									<tr>
										<th>主播ID</th>
										<th>昵称</th>
										<th>主播类型</th>
										<th>所属公会</th>
										<th>开播日期</th>
										<th>开播时间</th>
										<th>结束时间</th>
										<th>直播时长（时）</th>
										<th>贡献值（点）</th>
										<th>卡路里（卡）</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
							
							<script type="text/template" id="temp">
             					{{each this val}}
              						<tr>
                						<td>{{val.userId}}</td>
										<td>{{val.nickName}}</td>
										<td>{{val.strAnchorType}}</td>
										<td>{{val.confraternityName}}</td>
										<td>{{val.startDate}}</td>
										<td>{{val.startTime}}</td>
										<td>{{val.finishTime}}</td>
										<td>{{val.duringTime}}</td>
										<td>{{val.opal}}</td>
										<td>{{val.calorie}}</td>
              						</tr>
              					{{/each}}
              					{{if this.length === 0}}
              						<tr><td colspan="10">没有数据...</td></tr>
             					{{/if}}
							</script>
							
						</div>
						
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
					
					<!-- /分页 -->

				</div>
				<!-- /page body -->

			</div>
			<!-- /page main -->

		</div>
		<!-- /page -->

	</div>
	<!-- /main -->

</div>
<!-- /wrapper -->
</body>
</html>

<script data-main="js/liveDataChild" src="js/base/require.min.js"></script>