<!DOCTYPE html>
<html lang="en">

  <head th:include="common/head :: #head"></head>
  
<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
	   
			<!-- page -->
			<div class="page">
				<!-- page main -->
				<div class="pageMain">
				
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>用户基本信息</span>
					</div>
					
					<!-- page body -->
					<div class="pageB">
						<form data-param="userVO" data-content="#content" data-template="#temp" data-pagination="#pagination" data-action="findUser" data-form="search" class="form" novalidate="novalidate">
								
							<select name="userType" class="inputsearch" title="用户类型">
								<option selected="selected" disabled="disabled">用户类型</option>
								<option value="0">普通用户</option>
								<option value="1">主播用户</option>
								<option value="2">企业用户</option>
								<option value="3">托号用户</option>
							</select>
							
							<select name="superAdministrator" class="inputsearch" title="角色权限">
								<option selected="selected" disabled="disabled">角色权限</option>
								<option value="1">是超管</option>
								<!-- <option value="2">否超管</option> -->
							</select>
							
							<select name="isGag" class="inputsearch" title="是否禁言">
								<option value="0" selected="selected" disabled="disabled">是否禁言</option>
								<option value="2">是</option>
								<option value="0">否</option>
							</select>
							
							<select name="isClosure" class="inputsearch" title="是否封禁">
								<option value="0" selected="selected" disabled="disabled">是否封禁</option>
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
							
							<input name="query" type="text" placeholder="龙猫ID/昵称/手机号" data-chinese="手机号码" class="inputsearch" />
							
							<input name="isRobot" type="hidden" required="required" value="2" />
							
							<button type="submit" class="btn">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
						</form>
						
						<input type="hidden" name="roleid" th:value="${session.sessionUser.roleId}" />
						
						<div class="table">
							<table>
								<thead>
									<tr>
										<th>龙猫ID</th>
										<th>头像</th>
										<th>昵称</th>
										<th>手机号</th>
										<th>龙猫豆</th>
										<th>等级经验</th>
										<th>用户类型</th>
										<th>角色权限</th>
										<th>注册时间</th>
										<th>是否禁言</th>
										<th>是否封禁</th>
										<span th:if="${session.sessionUser.roleId} != 6">
											<th class="">操作</th>
										</span>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
							
							<script type="text/template" id="temp">
              					{{each this val}}
              						<tr>
                						<td>{{val.userId}}</td>
										<td><img class="uesr_img" src="{{val.phoneId==''?'http://opq77mx3q.bkt.clouddn.com/20170830-logo_totoro.png':val.phoneId}}" /></td>
										<td>{{val.nickName}}</td>
										<td>{{val.userName}}</td>
										
										<td>{{val.lmBeannum}}</td>
										<td>Lv.{{val.grade}}（{{val.experience}}）</td>
										
										<td>{{val.userTypeStr}}</td>
										<td>{{val.superAdministratorStr}}</td>
										<td>{{val.gmtCreate}}</td>
										<td>{{val.isGag==2?'否':'<span class="red_color">是</span>'}}</td>
										<td>{{val.isClosure==2?'否':'<span class="red_color">是</span>'}}</td>

										<span th:if="${session.sessionUser.roleId} != 6">
											<td>
												<button data-user-id="{{val.userId}}" type="button" class="btn btn-info btn-sm wp_seedetailBtn">查看</button>
												
												<button data-user-id="{{val.userId}}" data-is-gag="{{val.isGag==1?'2':'1'}}" data-nick-name="{{val.nickName}}" type="button" class="btn btn-danger btn-sm wp_gag">{{val.isGag==1?'取消禁言':'禁言'}}</button>
												{{if val.userType != 1}}
													<button data-user-id="{{val.userId}}" data-is-closure="{{val.isClosure==1?'2':'1'}}" data-nick-name="{{val.nickName}}" type="button" class="btn btn-danger btn-sm wp_ban">{{val.isClosure==1?'取消封禁':'封禁'}}</button>
												{{/if}}


												{{if val.userType == 0}}
													{{if val.superAdministrator != 1}}
														{{if val.isClosure != 1}}
															<button data-user-id="{{val.userId}}" data-nick-name="{{val.nickName}}" data-anchor-type="1" type="button" class="btn btn-primary btn-sm J_viewBtn">开通主播</button>
														{{/if}}
													{{/if}}
												{{/if}}
												
												{{if val.userType != 1}}
													{{if val.superAdministrator == -1}}
														<button data-user-id="{{val.userId}}" data-is-delete="1" data-nick-name="{{val.nickName}}" type="button" class="btn btn-danger btn-sm wp_super">设为app超管</button>
													{{/if}}
													{{if val.superAdministrator == 1}}
														<button data-user-id="{{val.userId}}" data-is-delete="-1" data-nick-name="{{val.nickName}}" type="button" class="btn btn-danger +btn-sm wp_super">取消app超管</button>
													{{/if}}
												{{/if}}

                							</td>
										</span>

              						</tr>
              					{{/each}}
              					{{if this.length === 0}}
              						<tr><td colspan="12">没有数据...</td></tr>
             					{{/if}}
							</script>
							
<!-- 						<td>{{if 0 === val.userState}}正常{{else if 1 === val.userState}}锁定{{else if 2 === val.userState}}正常[禁言]{{else if 3 === val.userState}}锁定[禁言]{{/if}}</td> -->
<!-- 						<td>{{if 1 === val.sex}}男{{else}}女{{/if}}</td> -->
<!-- 						<td>{{if 0 === val.userType}}普通用户{{else if 1 === val.userType}}主播{{else}}企业{{/if}}</td> -->
<!-- 						<td> -->
<!--  				  {{if 0 === val.userState}} -->
<!-- 				  <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-danger btn-sm J_SealBtn" title="锁定用户,禁止登录">锁定</button> -->
<!-- 				   &nbsp;&nbsp; -->
<!-- 				  <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-danger btn-sm J_ForbidBtn" title="禁止用户发言">禁言</button> -->
<!-- 				  {{else if 1 === val.userState}} -->
<!--                   <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-info btn-sm J_UnbindBtn" title="取消锁定,允许登录">正常</button> -->
<!-- 				   &nbsp;&nbsp; -->
<!-- 				  <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-danger btn-sm J_ForbidBtn" title="禁止用户发言">禁言</button> -->
<!-- 				  {{else if 2 === val.userState}} -->
<!--                   <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-danger btn-sm J_SealBtn" title="锁定用户,禁止登录">锁定</button> -->
<!-- 				   &nbsp;&nbsp; -->
<!-- 				  <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-info btn-sm J_CancelBtn" title="允许用户发言">解禁</button> -->
<!-- 				  {{else if 3 === val.userState}} -->
<!--                   <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-info btn-sm J_UnbindBtn" title="取消锁定,允许登录">正常</button> -->
<!-- 				   &nbsp;&nbsp; -->
<!-- 				  <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-info btn-sm J_CancelBtn" title="允许用户发言">解禁</button> -->
<!-- 				  {{/if}}&nbsp;&nbsp;	 -->
<!-- {{else if 1 === val.userType}} -->
<!--                   <button data-id="{{val.userId}}" data-type="{{val.userState}}" type="button" class="btn btn-info btn-sm J_AnchorLogBtn">查看信息</button> -->
<!-- 				  {{else}}&nbsp;&nbsp; -->
<!-- 				  {{/if}} -->
<!--                 </td> -->
						
							
						</div>
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
						
						
						<!-- 开通主播 开始 -->
						<div class="modal fade " id="J_showEdit">
							<div class="modal-backdrop"></div>
							<div class="modal-content">
							<form id="J_AddAnchor" data-param="anchor" data-action="editAnchor" data-form="submit" novalidate="novalidate">
								<div class="modal-header text-center" style="font-size:16px;font-weight:bold;">开通主播</div>
								<div class="modal-body">
									<div class="table-form table-center">
										<table>
											<tbody>
												<tr>
													<th>主播类型：</th>
													<td>
														<select name="anchorType" class="input" title="主播类型">
															<option value="0">全职主播</option>
															<option value="1">兼职主播</option>
														</select>
													</td>
												</tr>
												<tr>
													<th>真实姓名：</th>
													<td><input name="realName" type="text" placeholder="真实姓名" data-chinese="真实姓名" class="input" /></td>
												</tr>
												<tr>
													<th>身份证号：</th>
													<td><input name="idCard" type="text" placeholder="身份证号" data-chinese="身份证号" class="input" /></td>
												</tr>
												<tr>
													<th>支付宝：</th>
													<td><input name="alipayId" type="text" placeholder="支付宝" data-chinese="支付宝" class="input" /></td>
												</tr>
												<tr>
													<th>手机号码：</th>
													<td><input name="mobile" type="text" placeholder="手机号码" data-chinese="手机号码" class="input" /></td>
												</tr>
												<tr>
													<th>兑换比率：</th>
													<td><input name="ratio" required="required" type="text" placeholder="兑换比率" data-chinese="兑换比率" class="input" value="0.50"/></td>
												</tr>
												<tr>
													<th>备注：</th>
													<td><input name="remark" type="text" placeholder="备注" data-chinese="备注" class="input" /></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="modal-footer text-center">
									<input name="userId" id="edit_userId" type="hidden" required="required" class="input" />
									<button type="submit" class="btn" style="margin-right:30px">开通</button>
									<button data-target="#J_showEdit" data-event="Storm.modal.hide" class="btn btn-warning" type="button">取消</button>
								</div>
								</form>
							</div>
						</div>
						<!-- 开通主播 结束 -->
						
						<form id="upload_from" enctype="multipart/form-data" class="hide">
							<img id="showload_img" src="" />
							<input type="file" name="file" id="upload_img"/>
						</form>
						
						<!-- 主播详情 开始 -->
						<div class="modal fade" id="J_detail">
							<div class="modal-backdrop"></div>
							<div class="modal-content">
							<form id="J_EditAnchor" data-param="user" data-action="modifyUser" data-form="submit" novalidate="novalidate">
								<div class="modal-body">
									<div class="table-form table-center">
										<table>
											<tbody>
												
												<tr>
													<th><h4>个人信息</h4></th>
												</tr>
												
												<tr>
													<th>头像：</th>
													<td>
														<img data-img="3" class="uesr_img code_img logo_img" src="http://opq77mx3q.bkt.clouddn.com/20170830-logo_totoro.png">
														<input type="hidden" name="phoneId" value="http://opq77mx3q.bkt.clouddn.com/20170830-logo_totoro.png" />
													</td>
												</tr>
												<tr>
													<th>ID：</th>
													<td data-insert="userId"></td>
												</tr>
												<tr>
													<th>昵称：</th>
													<td><input name="nickName" type="text" data-insert="nickName" required="required" placeholder="昵称" data-chinese="昵称" class="input"></td>
												</tr>
												<tr>
													<th>手机号：</th>
													<td><input name="userName" type="text" data-insert="userName" placeholder="手机号" data-chinese="手机号" pattern="^1\d{10}$" class="input" maxlength="11"></td>
												</tr>
												<tr>
													<th>性别：</th>
													<td data-insert="sexStr"></td>
													<th>城市：</th>
													<td data-insert="city"></td>
												</tr>
												<tr>
													<th>个人简介：</th>
													<td colspan="3"><input name="signed" type="text" data-insert="signed" placeholder="个人简介" data-chinese="个人简介" class="input width490"></td>
												</tr>
												
												<tr>
													<th><h4>实名认证</h4></th>
												</tr>
												
												<tr>
													<th>真实姓名：</th>
													<td><input name="realName" type="text" data-insert="realName" placeholder="真实姓名" data-chinese="真实姓名" class="input"></td>
												</tr>
												<tr>
													<th>身份证号：</th>
													<td colspan="3"><input name="idCard" type="text" data-insert="idCard" placeholder="身份证号" data-chinese="身份证号"  maxlength="18" class="input width490"></td>
												</tr>
												
												<tr>
													<th>身份证扫描件：</th>
													<td colspan="3">
														<div class="certificates">
														
															<div class="cer_img">
																<img data-img="1" class="code_just code_img" src="http://opq77mx3q.bkt.clouddn.com/20171025-positive.png">
																<img class="big_seeimg big_just hide" src="" />
																<input type="hidden" name="frontIdentityUrl" data-insert="frontIdentityUrl"/>
																<p>正</p>
															</div>
														
															<div class="cer_img" id="cer_divimg">
																<img data-img="2" class="code_back code_img" src="http://opq77mx3q.bkt.clouddn.com/20171025-opposite.png">
																<img class="big_seeimg big_back hide" src="" />
																<input type="hidden" name="oppositeIdentityUrl" data-insert="oppositeIdentityUrl"/>
																<p>反</p>
															</div>
															
														</div>
													</td>
												</tr>
												
												<tr>
													<th><h4>用户信息</h4></th>
												</tr>
												
												<tr>
													<th>用户类型：</th>
													<td class="users_type">
														<select name="userType" class="inputsearch user_types" title="用户类型">
															<option value="0">普通用户</option>
<!-- 															<option value="1">主播用户</option> -->
<!-- 															<option value="2">企业用户</option> -->
															<option value="3">托号用户</option>
														</select>
													</td>
												</tr>
												
												<tr>
													<th>角色权限：</th>
													<td data-insert="superAdministratorStr"></td>
												</tr>
												
												<tr>
													<th>备注：</th>
													<td colspan="3"><input name="remark" type="text" data-insert="remark" placeholder="备注" data-chinese="备注" class="input width490"></td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
								<div class="modal-footer text-center">
									<input name="userId" id="add_userId" type="hidden" />
									<button type="submit" class="btn" style="margin-right:30px">修改</button>
									<button data-target="#J_detail" data-event="Storm.modal.hide" class="btn btn-warning" type="button">取消</button>
								</div>
								</form>
							</div>
						</div>
						<!-- 主播详情 结束 -->
						
						
						<!-- 禁言 开始 -->
						<div class="modal fade " id="J_showforbidMsg">
							<div class="modal-backdrop"></div>
							<div class="modal-content">
							<form id="J_ForbidMsg" data-param="anchor" data-action="forbidMsg" data-form="submit" novalidate="novalidate">
							    <div class="modal-header text-center" style="font-size:16px;font-weight:bold;">全局禁言</div>
								<div class="modal-body">
									<div class="table-form table-center">
										<table>
											<tbody>
												<tr>
													<th>用户UserId :</th>
													<td><input name="userId" id="msg_userId" readonly="readonly"
													 type="text" placeholder="用户UserId"
													 data-chinese="用户UserId" class="input" /></td>
												</tr>
												<tr id="showAging">
													<th>禁言时效 :</th>
													<td>
													<label>永久禁言&nbsp;<input type="radio" name="state" value="1" class="rTime" checked="checked" /></label>
													<label>临时禁言&nbsp;<input type="radio" name="state" value="2" class="rTime" /></label>
													</td>
												</tr>
												<tr style="display:none" id="hideAging">
													<th>禁言时效 :</th>
													<td>
													<label>取消禁言&nbsp;<input type="radio" name="state" value="0" class="rTime" /></label>
													</td>
												</tr>
												<tr style="display:none" id="showTime">
													<th>禁言时间(分) :</th>
													<td><input name="calorie" id="msg_time" type="text" placeholder="禁言时间" required="required"
													data-chinese="禁言时间" class="input" value="0" /></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="modal-footer text-center">
									<input name="anchorType" id="msg_anchorType" type="hidden" />
									<button type="submit" class="btn" style="margin-right:30px">确定</button>
									<button data-target="#J_showforbidMsg" data-event="Storm.modal.hide" class="btn btn-warning" type="button">取消</button>
								</div>
								</form>
							</div>
						</div>
						<!-- 禁言 结束 -->
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
<!-- 	/wrapper -->
	
	</body>
	<script data-main="js/user" src="js/base/require.min.js"></script>
</html>