<!DOCTYPE html>
<html lang="en">
  <head th:include="common/head :: #head"></head>
<body>

<!-- wrapper -->
<div class="wrapper">
   
	<!-- main -->
	<div class="main">
	     
		<!-- page -->
		<div class="page">

			<!-- page main -->
			<div class="pageMain">
			
				<div class="position">
					<a href="/index" target="_parent" title="首页">首页</a> &gt; 
					<a href="/guessData" title="首页">上一页</a> &gt;
					<span id="title_name"></span>
				</div>
				
				<!-- page body -->
				<div class="pageB">

					<!-- 竞猜总数据 -->
					<div class="guess_all">
						
						<div class="guessall_list">
							<p>累计场次（场）</p>
							<p class="guessNum"></p>
						</div>
						
						<div class="guessall_list">
							<p>主播/系统收益（豆）</p>
							<p class="sysProfit"></p>
						</div>
						
						<div class="guessall_list">
							<p>贡献值（点）</p>
							<p class="opal"></p>
						</div>
						
						<div class="guessall_list">
							<p>流水抽成（豆）</p>
							<p class="percentTen"></p>
						</div>
						
					</div>
					
					<div class="table">
					
					<script type="text/template" id="temp">
              			{{each this value i}}
              				<tr>
                				<td>{{i + 1}}</td>
                				<td>{{value.beginTime||''}}</td>
               					<td>{{value.isManStr||''}}</td>
                				<td>{{value.guessTitle||''}}</td>
                				<td>{{value.finalResultStr}}</td>
								<td>
									A {{value.oneProfit}}<br />				
									B {{value.twoProfit}}
								</td>
               					<td>{{value.robProfit}}</td>
								<td>{{value.opal}}</td>
								<td>{{value.tenPercent}}</td>
                				<td>
                					<button data-guess-id="{{value.guessId}}" type="button" class="btn btn-outline btn-sm wp_guessDetails">竞猜详情</button>
                				</td>
              				</tr>
							
							<tr class="guess_trclass" id="guess_tr{{value.guessId}}" style="display: none;">
								<td colspan="10" style="padding: 0;background: #F0F0F0;">
									
									<table style="width: 60%;margin: 0 0 0 5%;">
										<thead>
											<tr>
												<th style="border-top: none;background: #F0F0F0;">用户ID</th>
												<th style="border-top: none;background: #F0F0F0;">用户昵称</th>
												<th style="border-top: none;background: #F0F0F0;">A选项押注</th>
												<th style="border-top: none;background: #F0F0F0;">B选择押注</th>
												<th style="border-top: none;background: #F0F0F0;">结算</th>
											</tr>
										</thead>
										<tbody id="guess_data{{value.guessId}}"></tbody>
									</table>
								</td>
							</tr>
							
              			{{/each}}
              			{{if this.length === 0}}
              				<tr><td colspan="10">没有数据...</td></tr>
              			{{/if}}
            		</script>
            		
            		<script type="text/template" id="guess_temp">
              			{{each this value}}
              				<tr>
                				<td style="background: #F0F0F0;">{{value.userId}}</td>
                				<td style="background: #F0F0F0;">{{value.nickName}}</td>
                				<td style="background: #F0F0F0;">{{value.oneProfit}}</td>
               					<td style="background: #F0F0F0;">{{value.twoProfit}}</td>
                				<td style="background: #F0F0F0;">{{value.robProfit}}</td>
              				</tr>
              			{{/each}}
              			{{if this.length === 0}}
              				<tr><td colspan="5">没有数据...</td></tr>
              			{{/if}}
            		</script>
            		
						<table>
							<thead>
								<tr>
									<th>序号</th>
									<th>开盘时间</th>
									<th>游戏类型</th>
									<th>竞猜话题</th>
									<th>竞猜结果</th>
									<th>押注</th>
									<th>主播/系统收益（豆）</th>
									<th>贡献值（点）</th>
									<th>流水抽成（豆）</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="content"></tbody>
						</table>
					</div>

					<!-- 分页 -->
					<ul class="pagination" id="pagination"></ul>
					<!-- /分页 -->

				</div>
				<!-- /page body -->

			</div>
			<!-- /page main -->

		</div>
		<!-- /page -->

	</div>
	<!-- /main -->

</div>
<!-- /wrapper -->
</body>
</html>

<script data-main="js/guessDataChild" src="js/base/require.min.js"></script>