<!DOCTYPE html>
<html lang="en">
  <head th:include="common/head :: #head"></head>
<body>

<!-- wrapper -->
<div class="wrapper">
   
	<!-- main -->
	<div class="main">
	     
		<!-- page -->
		<div class="page">

			<!-- page main -->
			<div class="pageMain">
			
				<div class="position">
					<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>主播竞猜数据列表</span>
				</div>
				
				<!-- page body -->
				<div class="pageB">

					<form data-param="guessGuardInfo" data-content="#content" data-template="#temp" data-pagination="#pagination" data-action="findPalyGuessGuardInfo" data-form="search" class="form" novalidate="novalidate">
						
						<input name="beginDate" id="startDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})" placeholder="竞猜开始时间" type="text" class="inputsearch" /> 
						<span class="middle_to">至</span>
						<input name="finishDate" id="endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'startDate\')}', maxDate:'%y-%M-%d'})" placeholder="竞猜结束时间" type="text" class="inputsearch" />
						
						<input name="anchorId" type="text" placeholder="主播id" data-chinese="主播id" pattern="[1-9]\d*" class="inputsearch width100" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" />
						
<!-- 						<select name="anchorType" class="inputsearch" title="主播类型"> -->
<!--                         	<option selected="selected" disabled="disabled">主播类型</option> -->
<!--                             <option value="0">全职主播</option> -->
<!--                             <option value="1">兼职主播</option> -->
<!--                         </select> -->
                        
                        <select name="ascOrDesc" class="inputsearch" title="排序">
                        	<option selected="selected" disabled="disabled">排序</option>
                            <option value="0">正序</option>
                            <option value="1">倒序</option>
                        </select>
                        
						<button type="submit" class="btn search_guessdata">查询</button>
						<button type="reset" class="btn btn-info">重置</button>
						<button type="button" class="btn exportBtn">导出</button>
					</form>
					
					<!-- 竞猜总数据 -->
					<div class="guess_all">
						
						<div class="guessall_list">
							<p>累计场次（场）</p>
							<p class="guessNum"></p>
						</div>
						
						<div class="guessall_list">
							<p>累计收益（豆）</p>
							<p class="sysProfit"></p>
						</div>
						
						<div class="guessall_list">
							<p>累计贡献值（点）</p>
							<p class="opal"></p>
						</div>
						
						<div class="guessall_list">
							<p>累计流水（豆）</p>
							<p class="percentTen"></p>
						</div>
						
					</div>
					
					<div class="table">
					
					<script type="text/template" id="temp">
              			{{each this value}}
              				<tr>
                				<td>{{value.beginDate}}</td>
                				<td>{{value.finishDate||''}}</td>
                				<td>{{value.anchorId||''}}</td>
               					<td>{{value.nickName||''}}</td>
                				<td>{{value.anchorType}}</td>
                				<td>{{value.guessNum||'-'}}</td>
               					<td>{{value.sysProfit||'-'}}</td>
								<td>{{value.opal||'-'}}</td>
								<td>{{value.percentTen||'-'}}</td>
                				<td>
                					<button data-anchor-id="{{value.anchorId}}" data-play-id="{{value.playId}}" type="button" class="btn btn-outline btn-sm wp_guessDetails">竞猜数据</button>
                				</td>
              				</tr>
              			{{/each}}
              			{{if this.length === 0}}
              				<tr><td colspan="10">没有数据...</td></tr>
              			{{/if}}
            		</script>
						<table>
							<thead>
								<tr>
									<th>开播时间</th>
									<th>下播时间</th>
									<th>主播ID</th>
									<th>主播昵称</th>
									<th>主播类型</th>
									<th>竞猜场次（场）</th>
									<th>主播/系统收益（豆）</th>
									<th>贡献值（点）</th>
									<th>流水抽成（豆）</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="content"></tbody>
						</table>
					</div>

					<!-- 分页 -->
					<ul class="pagination" id="pagination"></ul>
					<!-- /分页 -->

         <!-- 详情 -->
          <div class="modal fade " id="J_detail">
            <div class="modal-backdrop"></div>
            <div class="modal-content">
              <div class="modal-body">
                <div class="table-form table-center">
                  <table>
                    <tbody>
                    <tr>
                      <th>竞猜ID：</th>
                      <td data-insert="guessId"></td>
                    </tr>
                    <tr>
                      <th>主播ID：</th>
                      <td data-insert="anchorId"></td>
                    </tr>
                    <tr>
                      <th>主题ID：</th>
                      <td data-insert="subId"></td>
                    </tr>
                    <tr>
                      <th>是否自定义：</th>
                      <td data-insert="isCustomStr"></td>
                    </tr>
                   <tr>
                      <th>竞猜标题：</th>
                      <td data-insert="guessTitle"></td>
                    </tr>
                    <tr>
                      <th>竞猜内容：</th>
                      <td data-insert="guessContent"></td>
                    </tr>
                    <tr>
                      <th>注池金额：</th>
                      <td data-insert="poolBean"></td>
                    </tr>
                    <tr>
                      <th>答案选项A：</th>
                      <td data-insert="optionOne"></td>
                    </tr>
                    <tr>
                      <th>答案选项B：</th>
                      <td data-insert="optionTwo"></td>
                    </tr>
                    <tr>
                      <th>封盘间隔时间(秒)：</th>
                      <td data-insert="disTime"></td>
                    </tr>
                    <tr>
                      <th>封盘时间点：</th>
                      <td data-insert="stopBetTimeStr"></td>
                    </tr>
                    <tr>
                      <th>是否抢庄：</th>
                      <td data-insert="isRobStr"></td>
                    </tr>
                    <tr>
                      <th>抢庄状态：</th>
                      <td data-insert="robStatusStr"></td>
                    </tr>
                    <tr>
                      <th>抢庄结束时间：</th>
                      <td data-insert="stopRobTimeStr"></td>
                    </tr>
                    <tr>
                      <th>庄家收益：</th>
                      <td data-insert="robProfit"></td>
                    </tr>
                    <tr>
                      <th>最终抢庄者ID：</th>
                      <td data-insert="finalRobUserId"></td>
                    </tr>
                     <tr>
                      <th>竞猜状态：</th>
                      <td data-insert="statusNameStr"></td>
                    </tr>
                    <tr>
                      <th>竞猜结果：</th>
                      <td data-insert="finalResultStr"></td>
                    </tr>
                    <tr>
                      <th>创建时间：</th>
                      <td data-insert="gmtCreateStr"></td>
                    </tr>
                    <tr>
                      <th>更新时间：</th>
                      <td data-insert="gmtModifiedStr"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer text-center">
<!--                  <button data-id="" data-event="Storm.modal.hide" class="btn btn-outline btn-sm J_auditing">审核</button> -->
                 <button data-target="#J_detail" data-event="Storm.modal.hide" type="button" class="btn btn-warning">返回</button>
              </div>
            </div>
          </div>
          <!-- /详情 -->
          
				</div>
				<!-- /page body -->

			</div>
			<!-- /page main -->

		</div>
		<!-- /page -->

	</div>
	<!-- /main -->

</div>
<!-- /wrapper -->
</body>
</html>

<script data-main="js/guessData" src="js/base/require.min.js"></script>