<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	 注册短信：
	<form action="sendAdminRegisterCaptcha" method="post">
		手机号<input type="text" id="userName" name="userName" value=""><br/>
		图片验证码<input type="text" id="validateCode" name="validateCode" value=""><br/>
		<input type="submit" value="submit">
	</form><br/>
	
	注册：
	<form action="saveAdminInfo" method="post">
		手机号<input type="text" id="userName" name="userName" value=""><br/>
		roleId<input type="text" id="roleId" name="roleId" value=""><br/>
		验证码<input type="text" id="captcha" name="captcha" value=""><br/>
		<input type="submit" value="submit">
	</form>
	<br/>
	 登录短信：
	<form action="sendAdminLoginCaptcha" method="post">
		手机号<input type="text" id="userName" name="userName" value=""><br/>
		图片验证码<input type="text" id="validateCode" name="validateCode" value=""><br/>
		<input type="submit" value="submit">
	</form>
	 
	<br/><br/>
	 登录：
	<form action="login" method="post">
		手机号<input type="text" id="userName" name=adminMobile value=""><br/>
		验证码<input type="text" id="captcha" name="password" value=""><br/>
		<input type="submit" value="submit">
	</form>
	
	 <br/><br/><br/>
	 letfRight：
	<form action="leftRight" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	updateRoleMenu：
	<form action="delMenu" method="post">
		menuId<input type="text" id="menuId" name="menuId" value=""><br/>
<!-- 		menuName<input type="text" id="menuName" name="menuName" value=""><br/> -->
<!-- 		parentId<input type="text" id="parentId" name="parentId" value=""><br/> -->
<!-- 		menuUrl<input type="text" id="menuUrl" name="menuUrl" value=""><br/> -->
		token<input type="text" id="token" name="token" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	addConfraternity:
	<form action="addConfraternity" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		confraternityType<input type="text" id="confraternityType" name="confraternityType" value=""><br/>
		leaderName<input type="text" id="leaderName" name="leaderName" value=""><br/>
		leaderMobile<input type="text" id="leaderMobile" name="leaderMobile" value=""><br/>
		leaderIdentityNum<input type="text" id="leaderIdentityNum" name="leaderIdentityNum" value=""><br/>
		frontIdentityUrl<input type="text" id="frontIdentityUrl" name="frontIdentityUrl" value=""><br/>
		oppositeIdentityUrl<input type="text" id="oppositeIdentityUrl" name="oppositeIdentityUrl" value=""><br/>
		businessLicenceUrl<input type="text" id="businessLicenceUrl" name="businessLicenceUrl" value=""><br/>
		businessLicenceNum<input type="text" id="businessLicenceNum" name="businessLicenceNum" value=""><br/>
		companyName<input type="text" id="companyName" name="companyName" value=""><br/>
		confraternityName<input type="text" id="confraternityName" name="confraternityName" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	addConfraternityAccount:
	<form action="addConfraternityAccount" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		accountType<input type="text" id="accountType" name="accountType" value=""><br/>
		accountNum<input type="text" id="accountNum" name="accountNum" value=""><br/>
		userOrComPanyName<input type="text" id="userOrComPanyName" name="userOrComPanyName" value=""><br/>
		accountMobile<input type="text" id="accountMobile" name="accountMobile" value=""><br/>
		bankName<input type="text" id="bankName" name="bankName" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getIncomeByTime:
	<form action="getIncomeByTime" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		beginTime<input type="text" id="beginTime" name="beginTime" value=""><br/>
		finishTime<input type="text" id="finishTime" name="finishTime" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	 getMessageByToken：
	<form action="getMessageByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	fileupload：
	<form action="fileupload" method="post" enctype="multipart/form-data">
		token<input type="text" id="token" name="token" value=""><br/>
		file<input type="file" id="file" name="file" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getOrderByToken：
	<form action="getOrderByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getAnchorByToken:
	<form action="getAnchorByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		userId<input type="text" id="userId" name="userId" value=""><br/>
		anchorType<input type="text" id="anchorType" name="anchorType" value=""><br/>
		pageNo<input type="text" id="pageNo" name="pageNo" value=""><br/>
		pageSize<input type="text" id="pageSize" name="pageSize" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	isRight：
	<form action="isRight" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		menuId<input type="text" id="menuId" name="menuId" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getAnchorById：
	<form action="getAnchorById" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		userId<input type="text" id="userId" name="userId" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	sendAddAnchorCaptcha：
	<form action="sendAddAnchorCaptcha" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		userId<input type="text" id="userId" name="userId" value=""><br/>
		userName<input type="text" id="userName" name="userName" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	confAddAnchor：
	<form action="confAddAnchor" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		userId<input type="text" id="userId" name="userId" value=""><br/>
		userName<input type="text" id="userName" name="userName" value=""><br/>
		queryStr<input type="text" id="queryStr" name="queryStr" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	liveMessageExprot：
	<form action="liveMessageExprot" method="get">
		token<input type="text" id="token" name="token" value=""><br/>
		beginTime<input type="text" id="beginTime" name="beginTime" value=""><br/>
		finishTime<input type="text" id="finishTime" name="finishTime" value=""><br/>
		queryStr<input type="text" id="queryStr" name="queryStr" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getLiveMessage：
	<form action="getLiveMessage" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		beginTime<input type="text" id="beginTime" name="beginTime" value=""><br/>
		finishTime<input type="text" id="finishTime" name="finishTime" value=""><br/>
		pageNo<input type="text" id="pageNo" name="pageNo" value=""><br/>
		pageSize<input type="text" id="pageSize" name="pageSize" value=""><br/>
		queryStr<input type="text" id="queryStr" name="queryStr" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getDetailLiveMessage：
	<form action="getDetailLiveMessage" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		userId<input type="text" id="userId" name="userId" value=""><br/>
		beginTime<input type="text" id="beginTime" name="beginTime" value=""><br/>
		finishTime<input type="text" id="finishTime" name="finishTime" value=""><br/>
		pageNo<input type="text" id="pageNo" name="pageNo" value=""><br/>
		pageSize<input type="text" id="pageSize" name="pageSize" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	findCalorieOpalByToken
	<form action="findCalorieOpalByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		pageNo<input type="text" id="pageNo" name="pageNo" value=""><br/>
		pageSize<input type="text" id="pageSize" name="pageSize" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	findTotalIncomeByToken
	<form action="findTotalIncomeByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	extractCash
	<form action="extractCash" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getOrderPageByToken
	<form action="getOrderPageByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		pageNo<input type="text" id="pageNo" name="pageNo" value=""><br/>
		pageSize<input type="text" id="pageSize" name="pageSize" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	getOrderDetailByToken
	<form action="getOrderDetailByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		orderId<input type="text" id="orderId" name="orderId" value=""><br/>
		pageNo<input type="text" id="pageNo" name="pageNo" value=""><br/>
		pageSize<input type="text" id="pageSize" name="pageSize" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	 getAdminByToken：
	<form action="getAdminByToken" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	 updateAdminMessage：
	<form action="updateAdminMessage" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		captcha<input type="text" id="captcha" name="captcha" value=""><br/>
		userMobile<input type="text" id="userMobile" name="userMobile" value=""><br/>
		confHeadUrl<input type="text" id="confHeadUrl" name="confHeadUrl" value=""><br/>
		qqId<input type="text" id="qqId" name="qqId" value=""><br/>
		wechatId<input type="text" id="wechatId" name="wechatId" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	
	changeLeaderOldMobile:
	<form action="changeLeaderOldMobile" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		userName<input type="text" id="userName" name="userName" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
	changeLeaderNewMobile:
	<form action="changeLeaderNewMobile" method="post">
		token<input type="text" id="token" name="token" value=""><br/>
		userName<input type="text" id="userName" name="userName" value=""><br/>
		captcha<input type="text" id="captcha" name="captcha" value=""><br/>
		<input type="submit" value="submit">
	</form><br/><br/>
	
</body>
</html>