<!DOCTYPE html>
<html lang="en">
<head th:include="common/head :: #head"></head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
		
			<!-- page -->
			<div class="page">
				
				<!-- page main -->
				<div class="pageMain">
				
					<!-- position -->
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>表属性管理</span>
					</div>
					<!-- /position -->
					
					<!-- page body -->
					<div class="pageB">
						<form data-param="dbTableInfoVO" data-content="#content" data-template="#temp" data-pagination="#pagination" data-action="findDBInfos" data-form="search" class="form" novalidate="novalidate">
							
							<input name="tableStr" type="text" placeholder="表字符" class="inputsearch" />
							
							<button type="submit" class="btn">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
						</form>
						<div class="table">
			<script type="text/template" id="temp">
              {{each this value}}
              <tr>
                <td>{{value.name||''}}</td>
                <td>{{value.engine||''}}</td>
                <td>{{value.version||''}}</td>
                <td>{{value.rowFormat||''}}</td>
                <td>{{value.rows||''}}</td>
                <td>{{value.avgRowLength||''}}</td>
                <td>{{value.dataLength||''}}</td>
                <td>{{value.maxDataLength||''}}</td>
                <td>{{value.indexLength||''}}</td>
                <td>{{value.dataFree||''}}</td>
                <td>{{value.createTime||''}}</td>
                <td>{{value.collation||''}}</td>
                <td>{{value.comment||''}}</td>
                <td>
                  <button data-table-name="{{value.name}}" type="button" class="btn btn-outline btn-sm J_tableViewBtn">字段</button>
                  <button data-table-name="{{value.name}}" type="button" class="btn btn-outline btn-sm J_tableDdlBtn">脚本</button>
                  <button data-table-name="{{value.name}}" data-comment="{{value.comment}}" type="button" class="btn btn-outline btn-sm J_tableGenBtn">生成</button>
                  <button data-table-name="{{value.name}}" type="button" class="btn btn-outline btn-sm J_tableDeleteBtn">删除</button>
                </td>
              </tr>

              <tr class="view_trclass" id="view_tr_{{value.name}}" style="display: none;">
								<td colspan="15" style="padding: 0;background: #F0F0F0;">
									
									<table style="width: 60%;margin: 0 0 0 5%;">
										<thead>
											<tr>
												<th style="border-top: none;background: #F0F0F0;">表限定符</th>
												<th style="border-top: none;background: #F0F0F0;">表所有者</th>
												<th style="border-top: none;background: #F0F0F0;">表名</th>
												<th style="border-top: none;background: #F0F0F0;">列名</th>
												<th style="border-top: none;background: #F0F0F0;">列标识号</th>
												<th style="border-top: none;background: #F0F0F0;">列的默认值</th>
												<th style="border-top: none;background: #F0F0F0;">是否为空</th>
												<th style="border-top: none;background: #F0F0F0;">数据类型</th>
												<th style="border-top: none;background: #F0F0F0;">字符最大长度</th>
												<th style="border-top: none;background: #F0F0F0;">字节最大长度</th>
												<th style="border-top: none;background: #F0F0F0;">精度</th>
												<th style="border-top: none;background: #F0F0F0;">小数位数</th>
												<th style="border-top: none;background: #F0F0F0;">子类型代码</th>	
											</tr>
										</thead>
										<tbody id="view_data_{{value.name}}"></tbody>
									</table>
								</td>
							</tr>

              {{/each}}
              {{if this.length === 0}}
              <tr><td colspan="14">没有数据...</td></tr>
              {{/if}}
            </script>
                   <script type="text/template" id="view_temp">
              			{{each this value}}
              				<tr>
                				<td style="background: #F0F0F0;">{{value.tableCatalog}}</td>
                				<td style="background: #F0F0F0;">{{value.tableSchema}}</td>
                				<td style="background: #F0F0F0;">{{value.tableName}}</td>
               					<td style="background: #F0F0F0;">{{value.columnName}}</td>
                				<td style="background: #F0F0F0;">{{value.ordinalPosition}}</td>
                				<td style="background: #F0F0F0;">{{value.columnDefault}}</td>
                				<td style="background: #F0F0F0;">{{value.isNullable}}</td>
                				<td style="background: #F0F0F0;">{{value.dataType}}</td>
                				<td style="background: #F0F0F0;">{{value.characterMaximumLength}}</td>
                				<td style="background: #F0F0F0;">{{value.characterOctetLength}}</td>
                				<td style="background: #F0F0F0;">{{value.numericPrecision}}</td>
                				<td style="background: #F0F0F0;">{{value.numericScale}}</td>
                				<td style="background: #F0F0F0;">{{value.datetimePrecision}}</td>
              				</tr>
              			{{/each}}
              			{{if this.length === 0}}
              				<tr><td colspan="15">没有数据...</td></tr>
              			{{/if}}
            		</script>
            		
							<table>
								<thead>
									<tr>
										<th>表名称</th>
										<th>存储引擎</th>
										<th>版本</th>
										<th>行格式</th>
										<th>表行数</th>
										<th>平均每行字节</th>
										<th>表数据量</th>
										<th>可容纳数据量</th>
										<th>索引大小</th>
										<th>dataFree</th>
										<th>创建时间</th>
										<th>默认字符集</th>
										<th>描述</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
						</div>
						<!-- 分页 -->
						 <ul class="pagination" id="pagination"></ul> 
						<!-- /分页 -->
						
		<!-- 查看创建表脚本 -->
          <div class="modal fade " id="J_tableDdl">
            <div class="modal-backdrop"></div>
            <div class="modal-content">
              <div class="modal-body">
                <div class="table-form table-center">
                  <table>
                    <tbody>
                    <tr>
                      <th>表名称：</th>
                      <td data-insert="tableName"></td>
                    </tr>
                    <tr>
                      <th>ddl脚本：</th>
                      <td>
                        <textarea cols="80" rows="15" id="ddl" name="ddl" data-chinese="ddl" class="input"></textarea> 
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer text-center">
                 <button data-target="#J_tableDdl" type="button" class="btn btn-warning J_tableCopyBtn">复制</button>&nbsp;
                 <button data-target="#J_tableDdl" data-event="Storm.modal.hide" type="button" class="btn btn-warning">关闭</button>
              </div>
            </div>
          </div>
          <!-- /查看创建表脚本 -->
          
          <!-- 生成代码 -->
          <div class="modal fade " id="J_genCreate">
            <div class="modal-backdrop"></div>
            <div class="modal-content">
              <div class="modal-body">
                <div class="frame table-form table-center">
                  <table>
                    <tbody>
                    <tr>
                      <th><b>您想生成代码的表结构如下：</b></th>
                      <td></td>
                    </tr>
                    <tr id="tbs">
                      <td id="tableName"></td>
                      <td>注释：<input type="text" name="comment" id="comment" style="width:200px; max-height:80px; margin:auto; overflow:auto;"></td>
                    </tr>
                    <tr>
                      <th><b>请选择您需要生成代码的对象：</b></th>
                      <td></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="1" checked></td>
                      <td>生成数据持久化PO对象</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="2" checked></td>
                      <td>生成视图层VO对象</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="3" checked></td>
                      <td>生成数据传输DTO对象</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="4" checked></td>
                      <td>生成查询构造条件QueryFilter对象</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="5" checked></td>
                      <td>生成RepositoryMaster接口实现(主库)</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="6" checked></td>
                      <td>生成RepositorySlave接口实现(从库)</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="7" checked></td>
                      <td>生成service接口</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="8" checked></td>
                      <td>生成serviceImpl接口实现</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="gen" value="9" checked></td>
                      <td>生成controller控制类</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer text-center">
                 <button data-target="#J_genCreate" type="button" class="btn btn-warning J_genCreate">确认生成</button>&nbsp;
                 <button data-target="#J_genCreate" data-event="Storm.modal.hide" type="button" class="btn btn-warning">关闭</button>
              </div>
            </div>
          </div>
          <!-- /生成代码 -->
          
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
	<!-- /wrapper -->

</body>
</html>
<script data-main="js/dbInfo" src="js/base/require.min.js" type="text/javascript"></script>