<!DOCTYPE html>
<html lang="en">
<head th:include="common/head :: #head"></head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
		
			<!-- page -->
			<div class="page">
				
				<!-- page main -->
				<div class="pageMain">
				
					<!-- position -->
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>签到配置</span>
					</div>
					<!-- /position -->
					
					<!-- page body -->
					<div class="pageB">
						<form data-param="actAssignment" data-action="findSignActAssignment" data-content="#content" data-template="#temp" data-pagination="#pagination" data-form="search" class="form hide" novalidate="novalidate">
							<button type="submit" class="btn">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
						</form>
						<div class="table">
						
							<script type="text/template" id="temp">
              					{{each this val}}
             						<tr>
               							<td>{{val.assignmentLevel}}</td>
                						<td>
											<img class="sign_img sign_val sign_{{val.id}}" src="{{val.assignmentHeadUrl}}">
											<img class="sign_img sign_edit sign_{{val.id}} sign_upimg hide" data-id="{{val.id}}" name="assignmentHeadUrl" src="{{val.assignmentHeadUrl}}" style="cursor: pointer;">
											<input type="hidden" id="sign_img_{{val.id}}" value="{{val.assignmentHeadUrl}}" />
										</td>
                						<td>
											<span class="sign_val">{{val.assignmentReward}}</span>
											<input type="text" id="sign_num_{{val.id}}" name="assignmentReward" class="input sign_edit hide" value="{{val.assignmentReward}}" />
										</td>
                						<td>{{val.rewardType}}</td>
                						<td>
											<span class="sign_val">{{val.remark}}</span>
											<input type="text" id="sign_remark_{{val.id}}" name="remark" class="input sign_edit hide" value="{{val.remark}}" />
										</td>
                						<td>
                  							<button type="button" class="btn btn-sm wp_sign_modify">编辑</button>
											<button type="button" data-id="{{val.id}}" class="btn btn-sm wp_sign_save hide">保存</button>
											<button type="button" class="btn btn-sm wp_sign_cancle hide">取消</button>
                						</td>
              						</tr>
              					{{/each}}
              					{{if this.length === 0}}
             						<tr><td colspan="6">没有数据...</td></tr>
              					{{/if}}
            				</script>
            				
							<table>
								<thead>
									<tr>
										<th>签到天数</th>
										<th>奖励图片</th>
										<th>数量</th>
										<th>类型</th>
										<th>描述</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
						</div>
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
	<!-- /wrapper -->
	
	
	<form id="J_photoImg" enctype="multipart/form-data" style="display: none">
		<div class="photo_div" id="photo_divimg">
			<img id="photo_showimg" src="" />
			<input type="file" name="file" id="photo_upimg" placeholder="机器人头像" data-chinese="机器人头像" class="input_file"/>
		</div>
	</form>
	<input type="hidden" id="photo_id"/>

	<!-- 用户创建 -->
	<div class="modal fade " id="J_adminCreate">
		<div class="modal-backdrop"></div>
		<div class="modal-content">
			<div class="modal-body">
				<form data-param="adminInfo" id="J_adminCreateForm"
					data-form="submit" data-action="adminCreate"
					novalidate="novalidate">
					<div class="table-form">
						<table>
							<tr>
								<th>用户账号：</th>
								<td><input name="userName" required="required"
									minlength="6" specialchar="specialchar" data-chinese="用户账号"
									class="input" type="text" /></td>
							</tr>
							<tr>
								<th>用户昵称：</th>
								<td><input name="userAlias" required="required"
									minlength="2" specialchar="specialchar" data-chinese="用户昵称"
									class="input" type="text" /></td>
							</tr>
							<tr>
								<th>用户年龄：</th>
								<td><input name="userAge" required="required" maxlength="2"
									pattern="[1-9][0-9]" data-chinese="用户年龄" class="input"
									type="text" /></td>
							</tr>
							<tr>
								<th>用户电话：</th>
								<td><input name="userMobile" required="required"
									maxlength="13" pattern="phone" data-chinese="用户电话"
									class="input" type="text" /></td>
							</tr>
							<tr>
								<th>用户邮箱：</th>
								<td><input name="userEmail" required="required"
									pattern="email" data-chinese="用户邮箱" class="input" type="text" /></td>
							</tr>
							<tr>
								<th>用户密码：</th>
								<td><input name="password" required="required"
									minlength="6" maxlength="24" data-chinese="用户密码" class="input"
									type="text" /></td>
							</tr>
							<tr>
								<th>角色设置：</th>
								<td>
								<select data-chinese="角色设置" required name="roleId" id="adminCreateRoleList"></select></td>
								<script type="text/template" id="adminCreateRoleTemp">
                           			<option disabled selected>---请选择角色---</option>
                            		{{each this value}}
                                        <option value="{{value.roleId}}">{{value.roleName}}</option>
                            		{{/each}}
                             		{{if this.length === 0}}
                                		<option disabled selected>角色查询异常...</option>
                             		{{/if}}
                       			</script>
							</tr>
							<tr>
								<td>用户性别：</td>
								<td><label><input required="required"
										data-chinese="用户性别" name="userSex" data-insert="userSex"
										type="radio" value="1" /> 男</label> <label><input
										name="userSex" data-insert="userSex" type="radio" value="2" />
										女</label></td>
							</tr>
							<tr>
								<td colspan="2">
									<button class="btn user_add" type="submit">保存</button> &nbsp;
									<button class="btn btn-info" type="reset">重置</button> &nbsp;
									<button data-target="#J_adminCreate"
										data-event="Storm.modal.hide" class="btn btn-warning"
										type="button">取消</button>
								</td>
							</tr>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /用户创建 -->
</body>
</html>
<script data-main="js/sign" src="js/base/require.min.js" type="text/javascript"></script>