<!DOCTYPE html>
<html lang="en">
<head th:include="common/head :: #head"></head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
		
			<!-- page -->
			<div class="page">
				
				<!-- page main -->
				<div class="pageMain">
				
					<!-- position -->
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>任务配置修改信息</span>
					</div>
					<!-- /position -->
					
					<!-- page body -->
					<div class="pageB">
					
						<div class="task_set">
							<p>任务图标：</p>
							<img class="task_logo" name="assignmentHeadUrl" src="http://opq77mx3q.bkt.clouddn.com/20170830-logo_totoro.png">
							<input type="hidden" class="task_logo_val" value="">
						</div>
						
						<div class="task_set">
							<p>任务名称：</p>
							<input type="text" name="assignmentName" class="input task_name" value="" placeholder="任务名称">
						</div>
						
						<div class="task_set">
							<p>任务类型：</p>
							<select name="isActivity" class="inputsearch task_type" title="任务类型">
	                            <option value="1">活动任务</option>
	                            <option value="2">每日任务</option>
	                        </select>
						</div>
						
						<div class="task_set margin30">
							<button class="btn task_sure_btn width70">保存</button>
							<button class="btn task_cancle_btn width100">返回上一页</button>
						</div>
					
						<form data-param="actAssignment" data-action="findActAssignmentDetaila" data-content="#content" data-template="#temp" data-pagination="#pagination" data-form="search" class="form hide" novalidate="novalidate">
							<input type="hidden" name="assignmentId" class="assignment_id" value="" />
							<button type="submit" class="btn">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
						</form>
						
						<div class="add_stage">
							<button class="btn add_stage_btn width100">添加新阶段</button>
						</div>
						
						<div class="table">
						
							<script type="text/template" id="temp">
              					{{each this val i}}
             						<tr>
               							<td>{{val.assignmentLevel}}</td>
                						<td>
											<span class="task_val">{{val.executeTimes}}</span>
											<input type="text" class="input task_one_{{val.id}} task_edit hide" value="{{val.executeTimes}}" />
										</td>
                						<td>
											<span class="task_val">{{val.assignmentReward}}</span>
											<input type="text" class="input task_two_{{val.id}} task_edit hide" value="{{val.assignmentReward}}" />
										</td>
                						<td>
											<span class="task_val">{{val.remark}}</span>
											<input type="text" class="input task_three_{{val.id}} width400 task_edit hide" value="{{val.remark}}" />
										</td>
                						<td>
                  							<button type="button" class="btn wp_job_modify">编辑</button>
											<button type="button" data-id="{{val.id}}" class="btn wp_job_save hide">保存</button>
											<button type="button" class="btn wp_job_cancle hide">取消</button>
											{{if val.isLast == 1}}
												<button type="button" data-id="{{val.id}}" class="btn wp_job_delete">删除</button>
											{{/if}}
                						</td>
              						</tr>
              					{{/each}}
              					{{if this.length === 0}}
             						<tr><td colspan="5">没有数据...</td></tr>
              					{{/if}}
            				</script>
            				
							<table>
								<thead>
									<tr>
										<th>阶段</th>
										<th>任务</th>
										<th>奖励</th>
										<th>任务描述</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
						</div>
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
	<!-- /wrapper -->
	
	
	<form id="J_photoImg" enctype="multipart/form-data" style="display: none">
		<div class="photo_div" id="photo_divimg">
			<img id="photo_showimg" src="" />
			<input type="file" name="file" id="photo_upimg" placeholder="机器人头像" data-chinese="机器人头像" class="input_file"/>
		</div>
	</form>

</body>
</html>
<script data-main="js/taskSetChild" src="js/base/require.min.js" type="text/javascript"></script>