<!DOCTYPE html>
<html lang="en">
<head th:include="common/head :: #head"></head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
	
		<!-- main -->
		<div class="main">
		
			<!-- page -->
			<div class="page">
				
				<!-- page main -->
				<div class="pageMain">
				
					<!-- position -->
					<div class="position">
						<a href="/index" target="_parent" title="首页">首页</a> &gt; <span>任务配置</span>
					</div>
					<!-- /position -->
					
					<!-- page body -->
					<div class="pageB">
						<form data-param="" data-action="findAllActAssignmenta" data-content="#content" data-template="#temp" data-pagination="#pagination" data-form="search" class="form hide" novalidate="novalidate">
							<button type="submit" class="btn">查询</button>
							<button type="reset" class="btn btn-info">重置</button>
						</form>
						<div class="table">
						
							<script type="text/template" id="temp">
              					{{each this val i}}
             						<tr style="cursor:move;" data-id="{{val.assignmentId}}">
               							<td>{{i + 1}}</td>
                						<td><img class="sign_img" src="{{val.assignmentHeadUrl}}"></td>
                						<td>{{val.assignmentName}}</td>
                						<td>{{val.isActivityStr}}</td>
                						<td>{{val.isEnable==1?'是':'<span class="red_color">否</span>'}}</td>
                						<td>
											<button type="button" data-assignmentId="{{val.assignmentId}}" class="btn btn-sm wp_task_modify">编辑</button>
											{{if val.isEnable == 1}}
												<button type="button" data-assignmentId="{{val.assignmentId}}" class="btn btn-sm wp_up_low">下架</button>
											{{/if}}
											{{if val.isEnable != 1}}
												<button type="button" data-assignmentId="{{val.assignmentId}}" class="btn btn-outline btn-sm wp_up_low">上架</button>
											{{/if}}
										</td>
              						</tr>
              					{{/each}}
              					{{if this.length === 0}}
             						<tr><td colspan="6">没有数据...</td></tr>
              					{{/if}}
            				</script>
            				
							<table>
								<thead>
									<tr>
										<th>序号</th>
										<th>任务图标</th>
										<th>任务名称</th>
										<th>任务类型</th>
										<th>是否启用</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="content"></tbody>
							</table>
						</div>
						<!-- 分页 -->
						<ul class="pagination" id="pagination"></ul>
						<!-- /分页 -->
					</div>
					<!-- /page body -->
				</div>
				<!-- /page main -->
			</div>
			<!-- /page -->
		</div>
		<!-- /main -->
	</div>
	<!-- /wrapper -->
</body>
</html>
<script data-main="js/taskSet" src="js/base/require.min.js" type="text/javascript"></script>